# Data & ML
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
tqdm==4.67.3
trackio==0.20.1
optuna==4.8.0
lightgbm==4.6.0

# Backend API
fastapi==0.115.2
uvicorn==0.29.0
pydantic==2.7.1

# Frontend
streamlit==1.33.0
plotly==6.7.0

# Testing & Utilities
pytest==8.1.1
requests==2.31.0
joblib==1.4.0
matplotlib==3.10.9
seaborn==0.13.2